.card {
  max-width: 500px;
  border: 1px solid #2563eb;
}

.card__title {
  font-size: 18px;
  color: #e7e5e4;
}

.card__figure {
  width: 80px;
}

.card__figure img {
  display: block;
  width: 100%;
}

.card__description {
  font-size: 16px;
  color: #e7e5e4;
}

.card__button {
  font-size: 14px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}