.container {
  width: 90%;
  max-width: 700px;
  color: #e7e5e4;
  border: 1px solid var(--color-border);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Progress Bar */
.progressbar {
  color: var(--color-text-default);
  width: 100%;
}

.progressbar__indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}

.progressbar__container {
  border: 1px solid;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #172554;
}

.progressbar__filler {
  width: 10%;
  background-color: var(--color-accent);
  height: 100%;
  transition: width .3s ease-out;
  border-radius: 5px;
}

